<?xml version="1.0"?>
<launch>


	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_hardware_config)/cob3-6/urdf/cob3-6.urdf.xacro'" />

	<node ns="arm" pkg="schunk_powercube_chain" type="schunk_powercube_chain" name="arm_driver" respawn="false" output="screen" >
		<rosparam command="load" file="$(find cob_hardware_config)/cob3-6/config/arm_driver.yaml"/>
	</node>


<!-- 	<include file="$(find cob_bringup)/controllers/cob_trajectory_controller.launch" >
		<arg name="robot" value="$(arg robot)" />
		<arg name="component_name" value="arm" />
	</include> -->

	<group ns="arm" >

		<!-- parameter description of the trajectory controller -->
		<rosparam command="load" file="$(find cob_hardware_config)/cob3-6/config/arm_controller.yaml" />

		<!-- The trajectory controller listens for JointTrajectoryFollowAction and sends velocity commands to the CANopen node -->
		<node pkg="cob_trajectory_controller" type="cob_trajectory_controller" name="joint_trajectory_controller" cwd="node" respawn="false" output="screen" />

		<!-- robot_state_publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

		<!-- temporary relay -->
		<node pkg="topic_tools" type="relay" name="joint_states_relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>

	</group>

</launch>